@model RecruitmentTask.Models.Campaign
@{
    ViewData["Title"] = "Delete";
}
<div class="row pt-4">
    <div class="col-4">
        <h2 class="text-primary">Delete Campaign</h2>
    </div>
    <div class="col-4">
    </div>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignFund)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampaignFund)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Radius)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Radius)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete"  class="btn btn-primary" /> |
        <a asp-action="Index"  class="btn btn-primary">Back to List</a>
    </form>
</div>
